{% extends "temp/base.html" %}
{% block content %}
<form action="{% url 'search_jobs' %}" method=POST>
    {% csrf_token %}
    <input type="search" placeholder="Search..." name="searched">
    <button type="submit">Search</button>
</form>
<h1>Job Details</h1>
    {% if jobs %}
        {% for job in jobs %}
            <div>
                <ul>
                    <h3>Job:</h3>
                    <h4>{{ job.job_position }}</h4>
                    <h3>Company Name:</h3>
                    <h5>{{ job.company_name }}</h5>
                    <h3>Location:</h3>
                    <li>{{ job.location }}</li>
                    <hr>
                </ul>
            </div>
        {% endfor %}
    {% else %}
            <h3>No Jobs are available.</h3>
    {% endif %}
{% endblock %}
